<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>EaselJS: Bitmap</title>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <!-- <script src="easel.js"></script> -->
    <script language="javascript" type="text/javascript" src="https://code.createjs.com/createjs-2015.05.21.min.js" ></script>
    
    <script type="text/javascript">
        var img;
        
        $(function() {
            img = new Image();
            img.src = "gfs.jpg";
            
            $(img).load(function(){
                drawBitmap();
            });
        });
        
        function drawBitmap()
        {
            var stage = new createjs.Stage($("#mainCanvas").get(0));
            
            var bitmap = new createjs.Bitmap(img);
            stage.addChild(bitmap);
    
            bitmap.x = 0;
            bitmap.y = 0;
            bitmap.alpha = 0.3;
            bitmap.rotation = 35;
            
            stage.update();
    
            // var listener = bitmap.on("click", handleClick, null, false, {count:3});
            // function handleClick(evt, data) {
            //     if (data.count == 0) {
            //         bitmap.rotation = 35;
            //         bitmap.alpha = 0.5;
            //         stage.update(); 
            //     }
            // }
    
    
            // bitmap.onClick = function(event) {
            //     bitmap.rotation = 35;
            //     bitmap.alpha = 0.5;
            //     stage.update(); 
            // }
        }
        

        
        
    </script>
    
    <style>
    #mainCanvas
    {
        background-color: #222;
        border: solid 1px #0F0;
        position: relative;
    }
    body
    {
        background: #000;
    }
    #container {
        background-color: #fff;
        border: solid 1px #0F0;
        position: relative;
        height: 100px;
        width: 100px;
    }
    </style>
</head>
 
<body>
    <canvas id="mainCanvas" width="600" height="600">Canvas is not supported</canvas>
    
    <br />
    <br />
    
    <div id="container"></div>
</body>
